# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache

# idea conf files
.idea
.idea/
*.iml
*.ipr
*.iws

# misc
.DS_Store
*~
*.log

# target folder
target/
overlays/

# vim swapfile
.*.sw*
.build_lock
